body {
    background-color: #70beee;
  }

  .center {
    text-align: center;
  }

  li {
    list-style-type: none;
  }

  .hade {
    color: rgb(0, 16, 157);
    text-shadow: 10px 0 10px skyblue;
    background-color: rgb(225, 255, 0);
    border: solid rgb(0, 255, 81);
  }