body {
    background-color: #70beee;
  }

  .center {
    text-align: center;
  }

  li {
    list-style-type: none;
  }

  .hade {
    color: red;
    text-shadow: 10px 0 10px skyblue;
    background-color: rgba(138, 61, 61, 0.5);
    border: solid red;
  }