body {
    background-color: orangered;
  }

h1 {
    text-align: center;
    border: dashed red;
    color:yellow;
    background-color: black;
}

p {
    text-align: center;
    font-size: 30px;
}

.huzake {
    font-size: small;
    position: fixed;
    bottom: 10px; left: 10px;
}