body {
    background-color: #70beee;
  }

  .center {
    text-align: center;
  }

  li {
    list-style-type: none;
    text-align: center;
    
  }

  .hade {
    color: rgb(0, 16, 157);
    text-shadow: 10px 0 10px skyblue;
    background: linear-gradient(to right,rgb(34, 191, 215),#1f7dc4);
    border: solid rgb(0, 255, 217);
  }

  div.h1 {
    text-align: center;
  }

  .title {
    text-align: center;
  }
  